Django==4.2.8
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==23.5
django-celery-beat==2.5.0
django-redis==5.4.0
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.1
cryptography==41.0.7
pycryptodome==3.20.0
bcrypt==4.1.2
python-dotenv==1.0.0
gunicorn==21.2.0
drf-yasg==1.21.7
Pillow==10.1.0
pyotp==2.9.0
user-agents==2.2.0
whitenoise==6.6.0
pytest-django==4.7.0
pytest-cov==4.1.0
factory-boy==3.3.1
setuptools<81
